body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 100%;
}
p  {
  color: red;
  font-family: courier;
  font-size: 100%;
}
p {
  border: 1px solid powderblue;
}
p {
  border: 1px solid powderblue;
  padding: 30px;
}
p {
  border: 1px solid powderblue;
  margin: 50px;
}
#p01 {
  color: blue;
}
p.error {
  color: red;
}


/*a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}